html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0; /* Reset default margins */
  padding: 0;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-card {
  /* margin: auto; */
  /* padding-top: 0.1em; */
  background-color: white;
  width: 22.2222%; /* 320 */
  /* height: 51.979%; */
  height: auto;
  border-radius: 0.75em;
  box-sizing: border-box;
}
.qr-card img {
  display: block;
  margin: 5% 5%;
  width: 90%; /* 288 / 320 */
  height: 57%; /*288 px / 499 px*/
  /* object-fit: cover; */
  border-radius: 0.75em;
}

.qr-code {
  width: 80%; /* 288 / 320  */
  height: 26.25%; /* 131 / 499 */
  margin: auto;
}

.qr-code h1 {
  color: #1f314f;
  font-size: 1.375em;
  text-align: center;
  font-family: Outfit;
}
.qr-code p {
  font-size: 0.9375em;
  color: #68778d;
  text-align: center;
  font-family: Outfit;
}
@media (max-width: 768px) {
  .qr-card {
    width: 80%;
    margin: 10% auto;
  }

  .qr-code {
    width: 90%;
    height: auto;
  }

  .qr-code h1,
  .qr-code p {
    font-size: 1em;
  }
}
