@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the container is vertically centered */
  margin: 0; /* Remove default margin */
  background-color: #d5e1ef;
}
.qr-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blueviolet; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Adds shadow */

  height: 75vh;
  width: 25vw;
  border-radius: 5%;
}

.qr-card img {
  font: 1em sans-serif;
  margin-top: 10%;
  border-radius: 5%;
  width: 80%;
  height: auto;
}

p {
  text-align: center; /* Centers the text horizontally */
  font-family: "Outfit";
  font-size: 1rem;
  color: grey;
}
h1 {
  text-align: center; /* Centers the text horizontally */
  font-family: "Outfit";
  font-size: 1.2rem;
}

.attribution {
  padding: 5vh;
}
