body {
  /*  */
  height: 100vh; /* Ensure the body takes full viewport height */
  width: 100vw;
  margin: 0; /* Reset default margins */
  background-color: #d5e1ef;
}

.qr-card {
  margin: 16% 38.33%;

  padding-top: 0.1em;
  background-color: white;
  width: 22.2222%; /* 320 */
  height: 51.979%; /* 499 */
  border-radius: 0.75em;
}
.qr-card img {
  display: block;
  margin: 5% 5%;
  width: 90%; /* 288 / 320 */
  height: 57%; /*288 px / 499 px*/
  /* object-fit: cover; */
  border-radius: 0.75em;
}

.qr-code {
  width: 80%; /* 288 / 320  */
  height: 26.25%; /* 131 / 499 */
  margin: auto;
}

.qr-code h1 {
  color: #1f314f;
  font-size: 1.375em;
  text-align: center;
  font-family: Outfit;
}
.qr-code p {
  font-size: 0.9375em;
  color: #68778d;
  text-align: center;
  font-family: Outfit;
}
